div.slapheader {
    color: #4954bb;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    justify-content: space-evenly;
    align-content: space-between;
    padding-top: 10px;
}

div.slapheader p {
    font-family: Impact, sans-serif;
    font-size: 40px;
    text-decoration: underline;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    flex-flow: row;
    display: flex;
    align-content: space-between;
    
}

