.container {
    display:grid;
    height:100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
      grid-template-areas:
      "nav nav"
      "content content"
      "contentheader contentheader"
      "content2 content2"
      "newsLetter newsLetter"
      "footer footer";
}

@media only screen and (max-width:550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows:1.0 fr 2.2 fr 1 fr;
    grid-template-areas:
    "nav"
    "content"
    "contentheader"
    "content2"
    "newsLetter"
    "footer";
  }
}



  
  .content {
  grid-area: content;
  display: flex;
  justify-content:center;
  padding-top:5px;
  background: url(../../img/3skylines.jpg);
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
  }


  
  .enterButton{
    background-color:rgb(62, 62, 247);
    border:clear;
    height:40px;
    width:130px;
    text-align: center;
    color:white;
    padding: 5px 10px;
    font-size:20px;
    position:absolute;
    right:45%;
    bottom:40%;
    display:flex;
    cursor: pointer;
    transition-duration: 0.8s;
    border-radius: 15px;
    z-index: 2000;
    justify-content: center;
  }
  
  .enterButton a:link {
    color:white;
    background-color:transparent;
    text-decoration: underline;
    justify-content: center;
    text-align: center;
  }
  .enterButton a:visited {
    color:white;
    background-color: transparent;
    text-decoration: none;
  }
  .enterButton a:hover {
    color:red;
    background-color: transparent;
    text-decoration: underline;
  }
  .enterButton a:active {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  






  .content2 {
      grid-area: content2;
      display: flex;
      justify-content: center;
      background-color:  rgb(248, 241, 241);
      justify-content: center;
  }


  .fgallery {
    width: 100%;
    height: auto;
    background-color:  rgb(248, 241, 241);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    flex-flow: row;
}

.fgallery img {
  width: 75%;
  height: auto;
  display: inline;
}

.fgallery ul {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
}

.fgallery li {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-flow: row;
  padding-left: 80px;
}




.newsLetter {
  grid-area: newsLetter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color:  rgb(223, 219, 219);
  height: 270px;
  width: 100%;
  position: relative;
}

.NLupper {
margin: auto;
font-size: 28px;
position: absolute;
top: 45px;
left: 40%
}


.NLmid {
  font-size: 20px;
  margin: auto;
  position: absolute;
  top: 96px;
  left: 35%
}

.NLmid {
  border-bottom: 1px solid;
  padding-bottom: 32px;
}



.search-container button {    
  top: 61px;
  left: 56%;
  width: 100px;     
  padding: 6px 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  position: relative;
  display:inline-block;
  background-color: black;
  color:rgb(248, 241, 241);
}

.search-container li input {
  display: inline-block;
  position: relative;
  top: 60px;
  left:32%;
  display:inline;
  width:16%;
  height: 30px;
}      

.search-container button:hover {
  background: rgb(153, 153, 153);
}

.search-container ul {
  padding-top:20px;
  width: 20px;
}

     




/*


.input {
  width: 200px;
  height: 30px;
  top: 50px;
  left:35%;
}
  */








