.footer{
    grid-area: footer;
       background-color:#fff;
       height: 120px;
       display:flex;
       flex-direction: row;
       position: relative;
       justify-content: space-around;
       align-items: center;
  }
  
  /* ----------------------------------- */
  
  .footerItem-SocialContainer {
  position: relative;
  height: 100px;
  width: 260px;
  padding-left: 50px;
  align-items: center;
  justify-content: center;
  }
  
  .footerItem-SocialContainer p {
    text-align: center;
    font-size: 25px;
    font-family: Karla,sans-serif;
    padding-bottom: 15px;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    justify-content: center;
  }
  
  .footerItem-SocialContainer a {
    justify-content: center;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-instagram {
    background: #c041a0;
    color: white;
  }
  
  .fa-youtube {
    background: rgb(204, 0, 0);
    color: white;
  }
  
  /* ----------------------------------- */
  
  .icon-container {
    margin-bottom: 20px;
    padding: 2px 0;
    font-size: 26px;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
  }
  
  
  .footerItem-payment {
    height: 78px;
    width: 300px;
    justify-content: center;
  }
  
  .footerItem-payment p {
    font-family: Karla,sans-serif;
    text-align: center;
  }
  
  /* ----------------------------------- */
  
  .footerItem-footerLinks {
    height: 80px;
    width: 100px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    text-align: center;
    font-family: Karla,sans-serif;
  }
  
  .footerLinks ul {
    height: 50px;
    width: 200px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .footerLinks ul li {
    padding-left: 15px;
    font-family: Karla,sans-serif;
    font-size: 20px;
    flex-direction: row;
  }
  
  .footerLinks ul li a {
    color: #4954bb;
  }