div.productpic {
    border: none;
    position:inline-block;
    width: 380px;
    position: absolute;
    left: 29%;
    top: 230px;
 
  }

  
  
  div.productpic:hover {
  background-color: none;
  }
  
  div.productpic img {
    width: 100%;
    height: auto;
    left:600px;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  @media (max-width: 700px) {

    div.productpic {
      margin: auto;
      position:inline-block;
      width: 480px;
      position: relative;
      left: 0%;
      top: 170px;
      border: none;
    }
    
    
    div.productpic:hover {
    background-color: rgb(138, 11, 11);
    }
    
    div.productpic img {
      width: 100%;
      height: auto;
      left:600px;
    }
    
    div.desc {
      display:none;
      padding: 15px;
      text-align: center;
    }
  }