.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "nav nav" "hero-image hero-image" "content content" "footer footer";
}

@media only screen and (max-width:550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 1.0 fr 1.0 fr 2.2 fr 1 fr;
        grid-template-areas: "nav" "hero-image" "content" "footer";
    }
}

.content {
    grid-area: content;
    display: flex;
    justify-content: center;

    padding-bottom: 50px;
}



.flexContainterLeft {
    width: 100%;
    height: auto;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: column;
    justify-content: flex-start;
    
}

.flexContainterRight {
    width: 100%;
    height: auto;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-flow: column;
    justify-content: space-evenly;
    align-content: space-between;
}

div.desc {
    padding-top: 5px;
    text-align: center;
}

