
.nav {
    grid-area: nav;
  }
  
  
  .nav-main {
    width: 99%;
    height: 50px;
    top:0;
    position:fixed;
    background-color: #fff;
    display:flex;
    flex-wrap: wrap;
    z-index:1000;
  }
  
  .btn-toggle-nav {
    width:46px;
    height:100%;
    background-color: rgb(199, 188, 188);
    background-image: url("../../img/turbovector.png");
    background-repeat: no-repeat;
    background-size:55%;
    background-position:center;
    cursor:pointer;
  }
  
  .btn-toggle-nav:hover {
    opacity: 0.3;
  }
  
  .nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
  }
  
  .nav-main ul li {
  list-style: none;
  line-height: 50px;
  }
  
  .nav-main ul li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color:#4954bb;
  font-family: arial;
  font-size: 16px;
  }
  
  .nav-sidebar ul li span
   {text-indent: 65px;}
  
  
  .nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 36px;
  height: calc(100vh - 50px);
  padding: 0 5px;
  background-color: rgba(190, 132, 116, 0.096);
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  }
  
  .nav-sidebar ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
  }
  
  .nav-sidebar ul li {
  line-height: 50px;
  list-style: none;
  }
  
  .nav-sidebar ul li span, .nav-sidebar ul li a {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: arial;
  font-size: 16px;
  white-space: nowrap;
  opacity:0;
  transition: all 0.3s ease-in-out;
  }
  
  .nav-sidebar ul li, .nav-sidebar ul li a:hover {
  background-color: #227;
  }