div.gallery {
    position: inline;
    width: 420px;
}

div.gallery img {
    width: 100%;
    height: auto;
}

.hero-image{
    grid-area: hero-image;
    background-image: url("../../assets/images/AABackground.png");
      background-repeat: no-repeat;
      background-size: 100%;
      height: 630px;
      width: auto;
      background-position:center -130px;
      background-attachment: fixed;
    padding-bottom:20px;
    }